@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
	Layout = null;
}
<html lang="nb-NO">
<head>
	<title>Isak Høllelands CV</title>
	<link rel="stylesheet" type="text/css" href="styles/base.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=VT323&display=swap" rel="stylesheet">
</head>
	<body>
		<partial name="Partials/Header/Header"/>
		<main>@RenderBody()</main>
		<partial name="Partials/Footer/Footer"/>
	</body>
</html>